global_defs {
  vrrp_version 2
}

{{range $k,$v := .}}

vrrp_instance {{ $k }} {
  state {{$v.State}}
  interface {{ $v.Iface }}
  virtual_router_id {{ $v.RouterID }}
  priority {{ $v.Priority }}
  nopreempt
  advert_int 1

  virtual_ipaddress {
    {{ $v.MainVip }} dev ipvs0
  }

  virtual_ipaddress_excluded { {{ range $v.SecVips }}
      {{ . }} dev ipvs0{{ end }}
  }

  track_script {
    check_loadbalancer
#    check_udp_loadbalancer
  }

  notify /templates/notify.sh

  track_interface {
      {{ $v.Iface }}
    }
}

{{end}}

# Script used to check if loadbalancer process is running
vrrp_script check_loadbalancer {
script "killall -0 haproxy"
interval 2
weight 2
}

vrrp_script check_udp_loadbalancer {
script "killall -0 nginx"
interval 2
weight 2
}
